:root {

    --font: "Archivo", sans-serif;
    --font-display: "Archivo Narrow", sans-serif;
  
    --orange: #ddc80a;
    --ppal-color: #ffffff;
    --snd-color: rgb(0, 0, 0);
    --font-color: rgb(255, 0, 0);
    --yellow: #ecdd02;
    --hotpink: #f00101;
    --gradient: linear-gradient(35deg, var(--yellow), var(--hotpink));
  }
  
  *{
    box-sizing: border-box;
  }
  
  body {
    margin: auto;
    min-height: 100vh;
    background: var(--bg);
    font-family: var(--font);
  }